__init__.pyc
.DS_Store
ghcnd.pyc
ghcnm.pyc
util.pyc
Examples/.DS_Store
Examples/Africa_ghcnm.csv
Examples/Egypt_surrounding_ghcnm.csv
Examples/ftp.ncdc.noaa.gov/pub/data/ghcn/daily/all/UKE00105900.dly
Examples/ftp.ncdc.noaa.gov/pub/data/ghcn/daily/all/UKE00105915.dly
Examples/ftp.ncdc.noaa.gov/pub/data/ghcn/daily/all/UKE00107650.dly
Examples/ftp.ncdc.noaa.gov/pub/data/ghcn/daily/all/UKM00003772.dly
Examples/ftp.ncdc.noaa.gov/pub/data/ghcn/daily/all/UKW00035054.dly
Examples/raw_data/ghcnm.tavg.v3.3.0.20180404.qca.dat
Examples/raw_data/ghcnm.tavg.v3.3.0.20180404.qca.inv
__pycache__/__init__.cpython-36.pyc
__pycache__/ghcnd.cpython-36.pyc
__pycache__/ghcnm.cpython-36.pyc
__pycache__/util.cpython-36.pyc
Examples/.ipynb_checkpoints/ghcn_daily_data-checkpoint.ipynb
Examples/.ipynb_checkpoints/ghcn_monthly_data_Africa-checkpoint.ipynb
Examples/.ipynb_checkpoints/ghcn_monthly_data-checkpoint.ipynb
Examples/.ipynb_checkpoints/weather_station_regression-checkpoint.ipynb
Examples/London_5stns_GHCN-D.csv
